<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/output.css" />
  <title>Farmer Info | Delta Grain Marketing</title>
</head>
<body>
  <header class="bg-offWhite sticky">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/home" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="./img/logo.png" alt="">
        </a>
      </div>
      <div class="lg:flex lg:gap-x-12">
        <a href="/contracts" class="text-sm font-semibold leading-6 text-mainGreen">Contracts</a>
        <a href="/farmers" class="text-sm font-semibold leading-6 text-mainGreen">Farmers</a>
        <a href="/crops" class="text-sm font-semibold leading-6 text-mainGreen">Crops</a>
        <a href="/mills" class="text-sm font-semibold leading-6 text-mainGreen">Mills</a>
        <a href="/buyers" class="text-sm font-semibold leading-6 text-mainGreen">Buyers</a>
      </div>
    </nav>
</header>
<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-mainGreen"><%= farmer.name %> Info:</h1>
        <p class="mt-2 text-sm text-gray-700">This contains information regarding farmer <%= farmer.name %></p>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-mainGreen">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-mainGreen sm:pl-0">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-mainGreen">Phone Number</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-mainGreen">Email</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-mainGreen">
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= farmer.name%></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= farmer.phone%></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= farmer.email%></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
</body>
</html>
